---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Pagina principal">
	
    <h1>
        Proyecto Realizado por
    </h1>
    <h1 class="text-green-400"> Noni, Jeison y "Leiner"</h1>

</Layout>