---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import TablaEmpleados from '../components/empleados/TablaEmpleados';

import ModalAgregarEmpleado from '../components/empleados/ModalAgregarEmpleado';
import ModalModificarEmpleado from '../components/empleados/ModalModificarEmpleado';
import ModalEliminarEmpleado from '../components/empleados/ModalEliminarEmpleado';
import ModalCorreosEmpleado from '../components/empleados/ModalCorreosEmpleado';

---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <h1 class="text-2xl font-semibold">Esta es la pestania Empleados maje</h1>
                    <TablaEmpleados client:visible></TablaEmpleados>
            </div>
            <div class = "flex gap-4">
                <ModalAgregarEmpleado client:visible></ModalAgregarEmpleado>
                <ModalModificarEmpleado client:visible></ModalModificarEmpleado>
                <ModalEliminarEmpleado client:visible></ModalEliminarEmpleado>
                <ModalCorreosEmpleado client:visible></ModalCorreosEmpleado>

            </div>
            
        </body>

        </html>
</Layout>