---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import TablaInforme from '../components/inicio/tableInformeFinancieroGlobal';
import TablaInformeCliente from '../components/inicio/tableInformeFinancieroCliente';
---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <h1 class="text-2xl font-semibold">Informe Financiero Anual</h1>
                    <!-- Espacio -->
                    <div class="h-4"></div>
                    <TablaInforme client:visible></TablaInforme>
                    <div class="h-4"></div>
                    <h1 class="text-2xl font-semibold">Informe Financiero por clientes</h1>
                    <!-- Espacio -->
                    <div class="h-4"></div>
                    <TablaInformeCliente client:visible></TablaInformeCliente>

                    
                </main>
            </div>
        </body>
        </html>
</Layout>