---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';

---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <h1 class="text-2xl font-semibold">Contenido Principal</h1>
                    <p class=>Leiner no para de bretear</p>
                </main>
            </div>
        </body>
        </html>
</Layout>