---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import React from 'react';
import { NextUIProvider } from '@nextui-org/react';

import TablaVehiculos from '../components/vehiculos/TablaVehiculos';
import ModalAgregarVehiculo from '../components/vehiculos/ModalAgregarVehiculo';
---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">   
                    <TablaVehiculos client:visible/>        
                </main>
            </div>

            <div class = "flex gap-4">
                <ModalAgregarVehiculo client:visible/>
            </div>

        </body>
        </html>
</Layout>