---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import Botones from '../components/Botones_viajes.astro';

import TablaViajes from '../components/viajes/TablaViajes';
import ModalAgregarViaje from '../components/viajes/ModalAgregarViaje';


// Simulación de datos recuperados de una base de datos
let viajes = [
    { id: 1, destino: 'Paris', fecha: '2022-01-01' },
    { id: 2, destino: 'Londres', fecha: '2022-02-01' },
    { id: 3, destino: 'Madrid', fecha: '2022-03-01' },
];

---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <main class="w-full p-4">
                        <h1 class="text-4xl mb-7 font-bold ">Lista de viajes</h1>   
                        <TablaViajes client:visible/>        
                    </main>
                    <div class = "flex gap-4">
                        <ModalAgregarViaje client:visible></ModalAgregarViaje>
                    </div>
                    
                </main>
            </div>
        </body>
        </html>
</Layout>