---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---


<Layout title="Pagina principal">

    <html>
        <head>
            <title style="color: whitesmoke;">Home</title>
            <h1 style="color: whitesmoke;">
                Menu de viajes
            </h1>
        </head>
    </html>




</Layout>