---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import Botones from '../components/Botones_viajes.astro';



// Simulación de datos recuperados de una base de datos
let viajes = [
    { id: 1, destino: 'Paris', fecha: '2022-01-01' },
    { id: 2, destino: 'Londres', fecha: '2022-02-01' },
    { id: 3, destino: 'Madrid', fecha: '2022-03-01' },
];

---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <Botones />
                    <div>
                        
                    </div>
                </main>
            </div>
        </body>
        </html>
</Layout>