---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Sidebar from '../components/Sidebar.astro';
import TablaTransacciones from '../components/transacciones/TablaTransacciones';
import ModalAgregarTransaccion from '../components/transacciones/ModalAgregarTransaccion';
import ModalModificarTransaccion from '../components/transacciones/ModalModificarTransaccion';
import ModalEliminarTransaccion from '../components/transacciones/ModalEliminarTransaccion';
---

<Layout title="Pagina principal">
    <html>
        <head>
            <title>Página con Sidebar</title>
            <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        </head>
        <body class="bg-gray-100">
            <div class="flex flex-col">
                <!-- Sidebar -->
                <Sidebar />
                <!-- Contenido principal -->
                <main class="w-full p-4">
                    <h1 class="text-2xl font-semibold">Transacciones</h1>
                    <TablaTransacciones client:visible></TablaTransacciones>
            </div>
            <div class = "flex gap-4">
                <ModalAgregarTransaccion client:visible></ModalAgregarTransaccion>
                <ModalModificarTransaccion client:visible></ModalModificarTransaccion>
                <ModalEliminarTransaccion client:visible></ModalEliminarTransaccion>
                
            </div>
            
        </body>

        </html>
</Layout>